version: "3.9"

services:
  traefik:
    image: traefik:v3.1
    container_name: traefik
    environment:
      - TRAEFIK_PROVIDERS_DOCKER_APIVERSION=1.44
    command:
      - "--api.insecure=true"
      - "--providers.docker=true"
      - "--providers.docker.exposedbydefault=false"
      - "--entrypoints.web.address=:80"
      - "--experimental.plugins.jwt-validation-middleware.moduleName=github.com/legege/jwt-validation-middleware"
      - "--experimental.plugins.jwt-validation-middleware.version=v0.2.1"
    ports:
      - "8088:80"
      - "8888:8080"
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
      - ./plugins-storage:/plugins-storage
    networks:
      - shared-network

  rabbitmq:
    image: rabbitmq:3.12-management
    container_name: rabbitmq
    ports:
      - "5672:5672"
      - "15672:15672"
    networks:
      - shared-network

  chat_microservice:
      build: ./chat_microservice
      container_name: chat-service
      depends_on:
        - rabbitmq
      environment:
        - SERVER_PORT=8089
      ports:
        - "8089:8089"      
      networks:
        - shared-network

  auth_microservice:
    build: ./auth_microservice
    container_name: auth-service
    depends_on:
      - user_microservice
      - auth_db
      - rabbitmq
    environment:
      - SPRING_DATASOURCE_URL=jdbc:postgresql://auth_db:5432/credential
      - SPRING_DATASOURCE_USERNAME=root
      - SPRING_DATASOURCE_PASSWORD=password
      - SPRING_JPA_HIBERNATE_DDL_AUTO=update
      - SPRING_RABBITMQ_HOST=rabbitmq
      - SPRING_RABBITMQ_PORT=5672
      - RABBITMQ_EXCHANGE_NAME=sync-exchange
      - RABBITMQ_ROUTING_KEY=user.create
      - RABBITMQ_ROUTING_KEY_USER_CREATED=user.created
    networks:
      - shared-network

  auth_db:
    image: postgres:16
    container_name: auth-db
    restart: always
    environment:
      - POSTGRES_DB=credential
      - POSTGRES_USER=root
      - POSTGRES_PASSWORD=password
    volumes:
      - auth_data:/var/lib/postgresql/data
    networks:
      - shared-network

  user_microservice:
    build: ./user_microservice
    container_name: user-service
    depends_on:
      - user_db
      - rabbitmq
    environment:
      - SPRING_DATASOURCE_URL=jdbc:postgresql://user_db:5432/clients
      - SPRING_DATASOURCE_USERNAME=root
      - SPRING_DATASOURCE_PASSWORD=password
      - SPRING_JPA_HIBERNATE_DDL_AUTO=update
      - SPRING_RABBITMQ_HOST=rabbitmq
      - SPRING_RABBITMQ_PORT=5672
      - RABBITMQ_EXCHANGE_NAME=sync-exchange
      - RABBITMQ_ROUTING_KEY=user.create
    networks:
      - shared-network

  user_db:
    image: postgres:16
    container_name: user-db
    restart: always
    environment:
      - POSTGRES_DB=clients
      - POSTGRES_USER=root
      - POSTGRES_PASSWORD=password
    volumes:
      - user_data:/var/lib/postgresql/data
    networks:
      - shared-network

  device_microservice:
    build: ./device_microservice
    container_name: device-service
    depends_on:
      - device_db
      - rabbitmq
    environment:
      - SPRING_DATASOURCE_URL=jdbc:postgresql://device_db:5432/device
      - SPRING_DATASOURCE_USERNAME=root
      - SPRING_DATASOURCE_PASSWORD=password
      - SPRING_JPA_HIBERNATE_DDL_AUTO=update
      - SPRING_RABBITMQ_HOST=rabbitmq
      - SPRING_RABBITMQ_PORT=5672
      - RABBITMQ_EXCHANGE_NAME=sync-exchange
      - RABBITMQ_ROUTING_KEY=device.create
      - RABBITMQ_ROUTING_KEY_DEVICE_DATA=device.data
      - RABBITMQ_ROUTING_KEY_DEVICE_DELETE=device.delete
    networks:
      - shared-network

  device_db:
    image: postgres:16
    container_name: device-db
    restart: always
    environment:
      - POSTGRES_DB=device
      - POSTGRES_USER=root
      - POSTGRES_PASSWORD=password
    volumes:
      - device_data:/var/lib/postgresql/data
    networks:
      - shared-network

  monitoring_microservice:
    build: ./monitoring_microservice
    container_name: monitoring-service
    depends_on:
      - monitoring_db
      - rabbitmq
    entrypoint: ["java", "-Dserver.port=8084", "-jar", "app.jar"]
    environment:
      - SPRING_DATASOURCE_URL=jdbc:postgresql://monitoring_db:5432/monitoring
      - SPRING_DATASOURCE_USERNAME=root
      - SPRING_DATASOURCE_PASSWORD=password
      - SPRING_JPA_HIBERNATE_DDL_AUTO=update
      - SPRING_RABBITMQ_HOST=rabbitmq
      - SPRING_RABBITMQ_PORT=5672
      - RABBITMQ_EXCHANGE_NAME=sync-exchange
      - RABBITMQ_QUEUE_DATA=device-data-queue
      - RABBITMQ_QUEUE_SYNC=monitoring-sync-queue
      - RABBITMQ_ROUTING_KEY_SYNC_PATTERN=device.*
      - RABBITMQ_ROUTING_KEY_DATA=device.data
    networks:
      - shared-network

  monitoring_db:
    image: postgres:16
    container_name: monitoring-db
    restart: always
    ports:
      - "5434:5432"
    environment:
      - POSTGRES_DB=monitoring
      - POSTGRES_USER=root
      - POSTGRES_PASSWORD=password
    volumes:
      - monitoring_data:/var/lib/postgresql/data
    networks:
      - shared-network

  api_microservice:
    build: ./api_microservice
    container_name: api-gateway
    depends_on:
      - auth_microservice
      - user_microservice
      - device_microservice
      - monitoring_microservice 
    environment:
      - SPRING_PROFILES_ACTIVE=docker
    networks:
      - shared-network
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.api-gateway.rule=PathPrefix(`/api`) || PathPrefix(`/chat`) || PathPrefix(`/ws`)"
      - "traefik.http.routers.api-gateway.entrypoints=web"
      - "traefik.http.services.api-gateway.loadbalancer.server.port=8080"
      - "traefik.http.routers.api-gateway.priority=20"

  frontend:
    build: ./frontend
    container_name: frontend
    ports:
      - "5173:80"
    labels:
      - "traefik.enable=true"
      - 'traefik.http.routers.frontend.rule=PathPrefix(`/`)'
      - "traefik.http.routers.frontend.entrypoints=web"
      - "traefik.http.routers.frontend.priority=10"
      - "traefik.http.services.frontend.loadbalancer.server.port=80"
    networks:
      - shared-network

networks:
  shared-network:

volumes:
  auth_data:
  user_data:
  device_data:
  plugins-storage:
  monitoring_data: